{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/account/auth_screens.css' %}">
{% endblock %}

{% block title %}Registrar{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-header">
        <h1>Comece a escalar sua revenda agora</h1>
        <p class="subtitle">Junte-se a centenas de lojistas e utilize Inteligência Artificial para vender mais rápido e gerenciar seu estoque com precisão.</p>
    </div>

    <form method="POST">
        {% csrf_token %}

        <div class="auth-field">
            {{ user_form.username.errors }}
            <label>Usuário</label>
            {{ user_form.username }}
        </div>

        <div class="auth-field">
            {{ user_form.password1.errors }}
            <label>Senha</label>
            {{ user_form.password1 }}
        </div>

        <div class="auth-field">
            {{ user_form.password2.errors }}
            <label>Confirmação de Senha</label>
            {{ user_form.password2 }}
        </div>

        <div class="form-actions">
            <input type="submit" value="Começar agora" class="btn btn-primary">
            <a href="{% url 'login' %}" class="btn btn-secondary">Já tenho conta</a>
        </div>
    </form>
</div>
{% endblock %}