<header>
    <nav class="navbar bg-primary navbar-dark px-4">
        <div class="container-fluid d-flex justify-content-between align-items-center">
    
            <!-- Lado esquerdo -->
            <ul class="navbar-nav d-flex flex-row align-items-center">
            {% if user.is_authenticated %}
                <li class="nav-item mr-3">
                    <a class="nav-link text-white fw-bold" href="{% url 'new_car' %}">Cadastrar Carro</a>
                </li>
            {% else %}
                <li class="nav-item mr-3">
                    <a class="nav-link text-white fw-bold" href="{% url 'login' %}">Entrar</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link text-white fw-bold" href="{% url 'register' %}">Cadastre-se</a>
                </li>
            {% endif %}
    
            <li class="nav-item mr-3">
                <a class="nav-link text-white fw-bold" href="{% url 'cars_list' %}">Listar Carros</a>
            </li>
            </ul>
    
            <!-- Lado direito -->
            {% if user.is_authenticated %}
            <ul class="navbar-nav d-flex flex-row align-items-center">
                <li class="nav-item mr-3">
                    <a class="nav-link text-white fw-bold">Olá, {{ user.username|title }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold sair-link" href="{% url 'logout' %}">Sair</a>
                </li>
            </ul>
            {% endif %}
    
        </div>
    </nav>
</header>  

