{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Motos{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/motorcycle/motorcycle.css' %}">
{% endblock %}

{% block content %}
<div class="search-bar">
  <form method="GET" action="{% url 'motorcycle_list' %}">
    <input type="text" name="search" placeholder="Buscar moto..." value="{{ request.GET.search }}">
    <select name="order" class="order-select">
        <option value="model" {% if request.GET.order == 'model' %}selected{% endif %}>Nome</option>
        <option value="price_asc" {% if request.GET.order == 'price_asc' %}selected{% endif %}>Menor Preço</option>
        <option value="price_desc" {% if request.GET.order == 'price_desc' %}selected{% endif %}>Maior Preço</option>
        <option value="year_asc" {% if request.GET.order == 'year_asc' %}selected{% endif %}>Ano Mais Antigo</option>
        <option value="year_desc" {% if request.GET.order == 'year_desc' %}selected{% endif %}>Ano Mais Recente</option>
    </select>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
</div>

<div class="car-grid">
  {% if motorcycles %}
    {% for moto in motorcycles %}
      <a href="{% url 'motorcycle_detail' moto.pk %}">
        <div class="car-card">
          {% if moto.photo %}
            <img src="{{ moto.photo.url }}" alt="{{ moto.model }} - {{ moto.brand }}">
          {% else %}
            <img src="https://placehold.co/400x200?text=Sem+Imagem" alt="Sem imagem">
          {% endif %}
          <h2>{{ moto.brand }} {{ moto.model }}</h2>
          <p>{{ moto.factory_year }} — {{ moto.engine_cc }}cc — R$ {{ moto.value }}</p>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <p class="no-results">Nenhuma moto encontrada.</p>
  {% endif %}
</div>
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="pagination__btn">← Anterior</a>
    {% endif %}

    <span class="pagination__info">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="pagination__btn">Próxima →</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}