{% extends "base.html" %}
{% load static %}
{% load moeda %}

{% block title %}Lista de Carros{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/cars/car.css' %}">
{% endblock  %}


{% block content %}
<div class="search-bar">
  <form method="GET" action="{% url 'cars_list' %}">
    <input type="text" name="search" placeholder="Buscar carro..." value="{{ request.GET.search }}">
    <select name="order" class="order-select">
        <option value="model" {% if request.GET.order == 'model' %}selected{% endif %}>Nome</option>
        <option value="price_asc" {% if request.GET.order == 'price_asc' %}selected{% endif %}>Menor Preço</option>
        <option value="price_desc" {% if request.GET.order == 'price_desc' %}selected{% endif %}>Maior Preço</option>
        <option value="year_asc" {% if request.GET.order == 'year_asc' %}selected{% endif %}>Ano Mais Antigo</option>
        <option value="year_desc" {% if request.GET.order == 'year_desc' %}selected{% endif %}>Ano Mais Recente</option>
    </select>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
</div>

<div class="car-grid">
  {% if cars %}
    {% for car in cars %}
      <a href="{% url 'car_detail' car.pk %}">
        <div class="car-card">
          {% if car.photo %}
            <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}">
          {% else %}
            <img src="https://placehold.co/400x200?text=Sem+Imagem" alt="Sem imagem">
          {% endif %}
          <h2>{{ car.brand }} {{ car.model }}</h2>
          <p>{{ car.factory_year }} — {{ car.value|moeda_br }}</p>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <p class="no-results">Nenhum carro encontrado.</p>
  {% endif %}
</div>
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="pagination__btn">← Anterior</a>
    {% endif %}

    <span class="pagination__info">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="pagination__btn">Próxima →</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}





